<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3 mt-4">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xx-12 text-center">
                    <h1 class="text-dark">User Login</h1>
                </div>
                    <label for="" class="for-label text-dark">Username</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="for-label text-dark">Password</label>
                    <input type="password" class="form-control">
                    
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 text-center">
                   <button class="btn btn-success">Login</button>
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <a href="http://127.0.0.1:5500/UserRegistration.html">User Registration</a>
                </div>
            
    </div>
 </div> 
