<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3 mt-4">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xx-12 text-center">
                  <h1 class="text-dark">Administrator Login</h1>
                </div>  

                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xx-12">
                    <label for="" class="for-label text-dark">Username</label>
                    <input name="Username"[(ngModel)]="Username" type="text" class="form-control">
                </div>

                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xx-12">
                    <label for="" class="for-label text-dark">Password</label>
                    <input name ="Password"[(ngModel)]="Password" type="text" class="form-control">
                </div>

                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xx-12 text-center">
                    <button (click)="readValues()" class="btn btn-success">Login</button>
                </div>
            </div>
        </div>
    </div>
  </div>
